* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #007bff;
    --text-color: #333;
    --bg-color: #f8f9fa;
    --heading-font: 'Outfit', sans-serif;
    --body-font: 'Inter', sans-serif;
}

body {
    font-family: var(--body-font);
    line-height: 1.6;
    /* Improves readability */
    color: var(--text-color);
}

h1,
h2,
h3,
h4,
.logo,
.btn-primary {
    font-family: var(--heading-font);
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--bg-color);
}

#hero {
    padding: 2rem 0.5rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hero h1 {
    font-size: 2rem;
    /* Make it big */
    line-height: 1.2;
    margin-bottom: 0.5rem;
    color: var(--text-color);
}

#hero p {
    font-size: 1rem;
    color: var(--text-color);
    margin-bottom: 1rem;
    /* Space before the button */
}

.hero-img {
    height: 70%;
    margin: 0.5rem;
}

.hero-img img {
    width: 100%;
    height: auto;
    border-radius: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.hero-content {
    height: 30%;
    margin: 0.5rem;
}

#features {
    padding: 1rem 0.5rem;
    text-align: center;
    background-color: var(--bg-color);
}

#features ul {
    list-style: none;
    padding: 2rem 1rem;
    text-align: center;
}

#features li {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 15rem;
}

#features li svg {
    margin-bottom: 1rem;
}

#features li i.red {
    color: red;
}

#features li i.blue {
    color: blue;
}

#features li i.green {
    color: green;
}

#testimonials {
    padding: 1rem 0.5rem;
}

#testimonials h2 {
    text-align: center;
}

#testimonials figure {
    margin: 1rem;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#contact {
    padding: 1rem 0.5rem;
    background-color: var(--primary-color);

}

#contact h2 {
    text-align: center;
    color: #ffffff;
}

#contact p {
    text-align: center;
    color: #eeeeee;
}

#contact form {
    margin: 2rem auto;
    width: 75%;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 1.5rem;
}

#contact button {
    margin-top: 1rem;
    padding: 1rem 2rem;
    font-family: var(--heading-font);
    background-color: var(--text-color);
    font-weight: 700;
    color: white;
    text-decoration: none;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0.5rem 0.5rem 0.7rem rgba(0, 0, 0, 0.2);
}


#contact input,
#contact textarea {
    width: 100%;
    padding: 0.8rem;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
    font-family: inherit;
}

#contact input:focus,
#contact textarea:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2);
}

.btn-primary {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 1rem 2rem;
    background-color: var(--primary-color);
    font-weight: 700;
    color: white;
    text-decoration: none;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0.5rem 0.5rem 0.7rem rgba(0, 0, 0, 0.2);
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
}

.phone-link {
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 500;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.phone-link:hover {
    color: var(--primary-color);
}

/* From Uiverse.io by Yaya12085 */
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 1);
    padding: 20px;
    max-width: 320px;
}

.stars {
    margin-bottom: 0.5rem;
    display: flex;
    grid-gap: 0.125rem;
    gap: 0.125rem;
    color: rgb(238, 203, 8);
}

.star {
    height: 1.25rem;
    width: 1.25rem;
}

.infos {
    margin-top: 1rem;
}

.date-time {
    color: rgba(7, 63, 216, 1);
    font-size: 12px;
    font-weight: 600;
}

.description {
    margin-top: 0.4rem;
    line-height: 1.625;
    color: rgba(107, 114, 128, 1);
}

.author {
    margin-top: 1.3rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgba(107, 114, 128, 1);
}

footer {
    padding: 1rem 0.5rem;
    color: var(--bg-color);
    background-color: var(--text-color);
}

footer .footer-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

footer .footer-info address {
    font-size: 1rem;
    opacity: 0.7;
}



footer .footer-schedule li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 0.7;
    font-size: 1rem;
}

footer .footer-text {
    margin: 0.5rem 0;
    opacity: 0.7;
    font-size: 0.8rem;
    text-align: center;
}

footer hr {
    margin: 0.5rem 0;
}


@media (min-width: 768px) {
    header {
        padding: 1rem 10rem;
        margin: 0 auto;
    }

    #hero {
        padding: 2rem 10rem;
        margin: 2rem 1rem;
        text-align: left;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }

    #hero h1 {
        font-size: 3.75rem;
        line-height: 1.2;
    }

    #hero p {
        font-size: 1.125rem;
        margin-bottom: 1rem;
        /* Space before the button */
    }

    .btn-primary {
        font-size: 1.125rem;
    }

    .hero-img {
        width: 50%;
        margin: 0.5rem;
        height: auto;
    }

    .hero-img img {
        width: 100%;
        height: auto;
        border-radius: 2rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    .hero-content {
        width: 50%;
        height: auto;
        margin: 0.5rem;
    }

    #features ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    #features li {
        height: auto;
        padding: 1rem;
    }

    #features li svg {
        margin: 1rem 0;
    }

    .testimonials {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
    }

    #contact form {
        margin: 1rem auto;
        width: 30%;
    }
}